
 <mat-card >
      <mat-divider></mat-divider>
      <ng-template spin="users.list">
        <mat-list class="will-load">
          <div class="mat-padding" *ngIf="!filteredUsers || filteredUsers.length === 0" layout="row" layout-align="center center">
            <h3>No users to display.</h3>
          </div>
          <ng-template let-user let-last="last" ngFor [ngForOf]="filteredUsers">
            <mat-list-item>
              <mat-icon mat-list-avatar>person</mat-icon>
              <h3 mat-line> {{user.displayName}} </h3>
              <p mat-line> {{user.email}} </p>
              <p mat-line hide-gt-md class="mat-caption"> last login: {{ user.lastAccess }} </p>
              <span flex></span>
              <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                  <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ user.created }} </div>
                  <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ user.lastAccess }} </div>
              </span>
              <span>
                  <button mat-icon-button [mat-menu-trigger-for]="menu">
                  <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu x-position="before" #menu="mdMenu">
                      <a [routerLink]="[user.id + '/edit']" mat-menu-item>Edit</a>
                      <button mat-menu-item>Delete</button>
                  </mat-menu>
              </span>
            </mat-list-item>
            <mat-divider *ngIf="!last" mat-inset></mat-divider>
          </ng-template>
        </mat-list>
      </ng-template>
  </mat-card>