<div  fxFlex fxLayout="column" fxFill >
<mat-toolbar color="success">
    <button (click)="usersSideNav.toggle()" mat-icon-button><mat-icon class="mat-24">menu</mat-icon></button>    
    <span flex></span>
    <button mat-icon-button><mat-icon class="mat-24">view_module</mat-icon></button>
    <button mat-icon-button><mat-icon class="mat-24">sort</mat-icon></button>
    <button mat-icon-button><mat-icon class="mat-24">settings</mat-icon></button>
    <button mat-icon-button><mat-icon class="mat-24">more_vert</mat-icon></button>
</mat-toolbar>

<mat-sidenav-container fxFlex fxLayout="column" fxFill> 

  <mat-sidenav 
    #usersSideNav
    [mode]="(media.query('gt-sm')) ? 'side' : 'push'" 
    [opened]="(media.query('gt-sm')  ) ? true: false">
    <mat-nav-list >
      <a mat-list-item [routerLink]="['/users']">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        All Users
      </a>
      <a mat-list-item>
        <mat-icon mat-list-icon>star</mat-icon>
        Favorites
      </a>
      <a mat-list-item>
        <mat-icon mat-list-icon>verified_user</mat-icon>
        Administrators
      </a>
      <a mat-list-item>
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        Non-Admins
      </a>
      <a mat-list-item>
        <mat-icon mat-list-icon>inbox</mat-icon>
        Archived
      </a>
    </mat-nav-list>
  </mat-sidenav> 

  <router-outlet></router-outlet>

</mat-sidenav-container>


</div>