   <md-card>
        <md-card-title>File Input and Uploads</md-card-title>
        <md-divider></md-divider>
        <md-card-content>
          <md-card>
            <md-card-title>
              Input
            </md-card-title>
            <md-card-content>
              <div fxLayout="row">
                <md-input-container psnFileDrop
                                    [disabled]="disabled"
                                    (fileDrop)="files = $event"
                                    (click)="fileInput1.inputElement.click()"
                                    (keyup.enter)="fileInput1.inputElement.click()"
                                    (keyup.delete)="fileInput1.clear()"
                                    (keyup.backspace)="fileInput1.clear()"
                                    fxFlex="50%">
                  <input mdInput
                        placeholder="select or drop files"
                        [value]="files?.length ? (files?.length + ' files') : files?.name"
                        [disabled]="disabled"
                        readonly/>
                </md-input-container>
                <button md-icon-button *ngIf="files" (click)="fileInput1.clear()" (keyup.enter)="fileInput1.clear()">
                  <md-icon>cancel</md-icon>
                </button>
                <psn-file-input class="push-left-sm push-right-sm" #fileInput1 [(ngModel)]="files" multiple>
                  <md-icon>folder</md-icon>
                  <span class="text-upper">Browse...</span>
                </psn-file-input>
                <span>
                  <button md-raised-button color="success" [disabled]="!files" class="text-upper">Submit</button>
                </span>
              </div>
            </md-card-content>
            <md-card-actions>            
           
            </md-card-actions>
          </md-card>
          
          <md-card>
            <md-card-title>
              Upload Single with button
            </md-card-title>
            <md-card-content>
                <p>Select Event: {{fileSelectMsg}}</p>
                <p>Upload Event: {{fileUploadMsg}}</p>
                <psn-file-upload defaultColor="secondary" activeColor="success" #singleFileUpload (select)="selectEvent($event)" (upload)="uploadEvent($event)" (cancel)="cancelEvent()" [disabled]="disabled">
                  <md-icon>file_upload</md-icon><span>{{ singleFileUpload.files?.name }}</span>
                  <ng-template psn-file-input-label>
                    <md-icon>attach_file</md-icon><span>Choose a file...</span>
                  </ng-template>
                </psn-file-upload>
             
            </md-card-content>
            <md-card-actions>            
           
            </md-card-actions>
          </md-card>

           <md-card>
            <md-card-title>
              Upload Multiple with button
            </md-card-title>
            <md-card-content>
                <p>Select Event: {{fileSelectMultipleMsg}}</p>
                <p>Upload Event: {{fileUploadMultipleMsg}}</p>
                <psn-file-upload #fileMultipleUpload (select)="selectMultipleEvent($event)" (upload)="uploadMultipleEvent($event)" (cancel)="cancelMultipleEvent()"
                                accept=".csv" defaultColor="primary" activeColor="success" cancelColor="warn" multiple [disabled]="disabled">
                  <md-icon>file_upload</md-icon>
                  <span>
                    {{ fileMultipleUpload.files?.name || fileMultipleUpload.files?.length }} <span *ngIf="fileMultipleUpload.files?.length">files selected</span>
                  </span>
                  <ng-template psn-file-input-label>
                    <md-icon>attach_file</md-icon><span>Choose multiple .sql files...</span>
                  </ng-template>
                </psn-file-upload>
             
            </md-card-content>
            <md-card-actions>            
           
            </md-card-actions>
          </md-card>
        </md-card-content>
      </md-card>