<div fxLayout="column" fxFlex>


<mat-card >
  <mat-card-title>IScroll in Lists</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
  
    <h3>Simple List</h3>
    <div psn-scroller [containerHeight]="media.query('xs') ? '100px': '250px'">
     <mat-nav-list>
      <ng-template let-item let-last="last" ngFor [ngForOf]="states">
        <a mat-list-item > {{item.name}} </a>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </mat-nav-list>
    </div>


    <mat-divider class="push-top-sm push-bottom-sm"></mat-divider>

   

  </mat-card-content>
</mat-card>




<mat-card>
  <mat-card-title>IScroll for Cards</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
  
    <h3>List of cards</h3>
   
     <div psn-scroller containerHeight="25rem">
      <ng-template let-item let-last="last" ngFor [ngForOf]="states">
          <mat-card>
              <mat-card-content>
                   <a mat-list-item > {{item.name}} </a>
              </mat-card-content>
          </mat-card>
        
          <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
     </div>


    <mat-divider class="push-top-sm push-bottom-sm"></mat-divider>

   

  </mat-card-content>
</mat-card>

</div>