 <mat-card>
        <mat-card-title>PSN Menu</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <psn-menu>
            <div psn-menu-header class="mat-subhead">Notifications</div>
            <mat-nav-list dense psn-menu-content>
              <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
                <a mat-list-item>
                  <mat-icon mat-list-avatar>today</mat-icon>
                  <h4 mat-line><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>
                  <p mat-line>22 minutes ago</p>
                </a>
                <mat-divider *ngIf="!last"></mat-divider>
              </ng-template>
            </mat-nav-list>

            <button mat-button color="success" psn-menu-footer>
          Notifications footer
        </button>
          </psn-menu>
        </mat-card-content>
        <mat-card-content>
          <mat-toolbar color="secondary">
            <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
            <span fxFlex>Toolbar</span>
            <button mat-icon-button [matMenuTriggerFor]="notificationsMenu">
          <mat-icon>notifications</mat-icon>
        </button>
            <mat-menu #notificationsMenu="matMenu" [overlapTrigger]="false">
              <psn-menu>
                <div psn-menu-header class="mat-subhead">Notifications</div>
                <mat-nav-list dense psn-menu-content>
                  <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
                    <a mat-list-item>
                      <mat-icon mat-list-avatar>today</mat-icon>
                      <h4 mat-line><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>
                      <p mat-line>22 minutes ago</p>
                    </a>
                    <mat-divider *ngIf="!last"></mat-divider>
                  </ng-template>
                </mat-nav-list>

                <button mat-button color="success" psn-menu-footer>
          Notifications footer
        </button>
              </psn-menu>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="toolbarMenu1"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #toolbarMenu1="matMenu">
              <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
              <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Sign out</span>
        </button>
            </mat-menu>
          </mat-toolbar>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-title>
          Messages and Badges
        </mat-card-title>
        <mat-card-content>
          <psn-message #message label="Hey" sublabel="title goes here" icon="info" color="success" [opened]="true">
            <button message-actions mat-button>View More</button>
            <button mat-icon-button (click)="message.close()" message-actions>
            <mat-icon>close</mat-icon>
          </button>
          </psn-message>

          <mat-card>
            <psn-message label="Hey" sublabel="title goes here" icon="info" color="accent" [opened]="true">
            </psn-message>
          </mat-card>

          <mat-card>
            <mat-card-title>
              Other styles
            </mat-card-title>
            <psn-message inverted label="Hey" sublabel="inverted color goes here" icon="info" color="warn" [opened]="true">
            </psn-message>
            <p></p>
            <psn-message inverted label="Hey" sublabel="inverted color goes here" icon="info" color="success" [opened]="true">
              <button mat-icon-button (click)="message.close()" message-actions>
            <mat-icon>close</mat-icon>
          </button>
            </psn-message>
            <p></p>
            <psn-message inverted label="Hey" sublabel="inverted color goes here" icon="info" color="accent" [opened]="true">
            </psn-message>
            <p></p>
            <psn-message inverted label="Hey" sublabel="inverted color goes here" icon="info" color="primary" [opened]="true">
              <button mat-icon-button (click)="message.close()" message-actions>
            <mat-icon>close</mat-icon>
          </button>
            </psn-message>
          </mat-card>

          <mat-card>
            <mat-card-title>Section</mat-card-title>
            <mat-divider></mat-divider>
            <psn-message label="Hmm" sublabel="THere is a problem here" color="warn" icon="error"></psn-message>
            <mat-card-content>
              lorem ipsum
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-title>Badges</mat-card-title>
            <mat-divider></mat-divider>
            <psn-badge color="primary" x="before" notifications="6+">
              <mat-icon>person</mat-icon>
            </psn-badge>

            <psn-badge color="success" x="before" notifications="9">

            </psn-badge>

            <button mat-raised-button color="accent" >Inside Buttons  <psn-badge color="warn" notifications="3"></psn-badge></button>

            <psn-badge size="24" color="warn" x="before" notifications="9">
            </psn-badge>

             <psn-badge size="36" color="secondary" x="before" notifications="9">
            </psn-badge>

              <psn-badge size="48" color="primary" x="before" notifications="9">
            </psn-badge>

             <psn-badge size="36" color="lime" x="after" notifications="A">
            </psn-badge>

            <psn-badge size="24" color="yellow" x="after" notifications="A">
            </psn-badge>

            <psn-badge size="24" color="link" x="after" notifications="A">
            </psn-badge>


            <mat-nav-list dense flex disableRipple="true">
              <a mat-list-item>
                <mat-icon mat-list-avatar>person</mat-icon>
                <h3 mat-line> Jyn Erso stole the plans to the Death Star </h3>
                <p mat-line> 10 mins ago </p>
                <span></span>
                <psn-badge color="accent" notifications="B+">
                </psn-badge>
              </a>
              <mat-divider mat-inset></mat-divider>
              <a mat-list-item>
                <mat-icon mat-list-avatar>person</mat-icon>
                <h3 mat-line> Something something something.. dark side. </h3>
                <p mat-line> 9 hours ago </p>
                <span></span>
                <psn-badge color="warn" notifications="2">
                </psn-badge>
              </a>
              <mat-divider mat-inset></mat-divider>
              <a mat-list-item>
                <mat-icon mat-list-avatar>person</mat-icon>
                <h3 mat-line> Chirrut Îmwe beat down a bunch of storm troopers with a stick </h3>
                <p mat-line> 2 days ago </p>
                <span></span>
                <psn-badge color="secondary" notifications="A+">
                </psn-badge>
              </a>
            </mat-nav-list>

          </mat-card>

          <mat-card>
            <mat-card-title>
              Badge in Toolbar
            </mat-card-title>
            <mat-card-content>
              <mat-toolbar color="secondary">
                <button mat-icon-button>
              <mat-icon>menu</mat-icon>
            </button>
                <span>Info</span>
                <span fxFlex></span>

                <psn-badge color="primary" x="before" notifications="Y+">
                  <mat-icon>person</mat-icon>
                </psn-badge>
                <psn-badge color="success" notifications="6">
                  <mat-icon>messages</mat-icon>
                </psn-badge>
                <button mat-icon-button [matMenuTriggerFor]="notificationsMenu1">
              <psn-badge notifications="66+">
                <mat-icon>notifications</mat-icon>
              </psn-badge>
            </button>
                <mat-menu #notificationsMenu1="matMenu" [overlapTrigger]="false">
                  <psn-menu>
                    <div psn-menu-header class="mat-subhead">Notifications</div>
                    <mat-nav-list dense psn-menu-content>
                      <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
                        <a mat-list-item>
                          <mat-icon mat-list-avatar>today</mat-icon>
                          <h4 mat-line><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>
                          <p mat-line>22 minutes ago</p>
                        </a>
                        <mat-divider *ngIf="!last"></mat-divider>
                      </ng-template>
                    </mat-nav-list>

                    <button mat-button color="success" psn-menu-footer>
                  Notifications footer
                </button>
                  </psn-menu>
                </mat-menu>


              </mat-toolbar>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-title>Badge in Tabs</mat-card-title>
            <mat-card-content>
              <mat-tab-group mat-stretch-tabs>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <div layout="row" layout-align="center center">
                      Activities
                      <psn-badge color="primary" notifications="3">
                      </psn-badge>
                    </div>
                  </ng-template>
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <div layout="row" layout-align="center center">
                      Logs
                      <psn-badge color="warn" notifications="0">
                      </psn-badge>
                    </div>
                  </ng-template>
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <div layout="row" layout-align="center center">
                      Chats
                      <psn-badge color="success" notifications="12">
                      </psn-badge>
                    </div>
                  </ng-template>
                </mat-tab>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>

        </mat-card-content>
      </mat-card>