 <md-card>
        <md-card-title>PSN Menu</md-card-title>
        <md-divider></md-divider>
        <md-card-content>
          <psn-menu>
            <div psn-menu-header class="md-subhead">Notifications</div>
            <md-nav-list dense psn-menu-content>
              <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
                <a md-list-item>
                  <md-icon md-list-avatar>today</md-icon>
                  <h4 md-line><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>
                  <p md-line>22 minutes ago</p>
                </a>
                <md-divider *ngIf="!last"></md-divider>
              </ng-template>
            </md-nav-list>

            <button md-button color="success" psn-menu-footer>
          Notifications footer
        </button>
          </psn-menu>
        </md-card-content>
        <md-card-content>
          <md-toolbar color="secondary">
            <button md-icon-button>
          <md-icon>menu</md-icon>
        </button>
            <span fxFlex>Toolbar</span>
            <button md-icon-button [mdMenuTriggerFor]="notificationsMenu">
          <md-icon>notifications</md-icon>
        </button>
            <md-menu #notificationsMenu="mdMenu" [overlapTrigger]="false">
              <psn-menu>
                <div psn-menu-header class="md-subhead">Notifications</div>
                <md-nav-list dense psn-menu-content>
                  <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
                    <a md-list-item>
                      <md-icon md-list-avatar>today</md-icon>
                      <h4 md-line><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>
                      <p md-line>22 minutes ago</p>
                    </a>
                    <md-divider *ngIf="!last"></md-divider>
                  </ng-template>
                </md-nav-list>

                <button md-button color="success" psn-menu-footer>
          Notifications footer
        </button>
              </psn-menu>
            </md-menu>
            <button md-icon-button [mdMenuTriggerFor]="toolbarMenu1"><md-icon>more_vert</md-icon></button>
            <md-menu #toolbarMenu1="mdMenu">
              <button md-menu-item>
          <md-icon>settings</md-icon>
          <span>Settings</span>
        </button>
              <button md-menu-item>
          <md-icon>exit_to_app</md-icon>
          <span>Sign out</span>
        </button>
            </md-menu>
          </md-toolbar>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>
          Messages and Badges
        </md-card-title>
        <md-card-content>
          <psn-message #message label="Hey" sublabel="title goes here" icon="info" color="success" [opened]="true">
            <button message-actions md-button>View More</button>
            <button md-icon-button (click)="message.close()" message-actions>
            <md-icon>close</md-icon>
          </button>
          </psn-message>

          <md-card>
            <psn-message label="Hey" sublabel="title goes here" icon="info" color="accent" [opened]="true">
            </psn-message>
          </md-card>

          <md-card>
            <md-card-title>
              Other styles
            </md-card-title>
            <psn-message inverted label="Hey" sublabel="inverted color goes here" icon="info" color="warn" [opened]="true">
            </psn-message>
            <p></p>
            <psn-message inverted label="Hey" sublabel="inverted color goes here" icon="info" color="success" [opened]="true">
              <button md-icon-button (click)="message.close()" message-actions>
            <md-icon>close</md-icon>
          </button>
            </psn-message>
            <p></p>
            <psn-message inverted label="Hey" sublabel="inverted color goes here" icon="info" color="accent" [opened]="true">
            </psn-message>
            <p></p>
            <psn-message inverted label="Hey" sublabel="inverted color goes here" icon="info" color="primary" [opened]="true">
              <button md-icon-button (click)="message.close()" message-actions>
            <md-icon>close</md-icon>
          </button>
            </psn-message>
          </md-card>

          <md-card>
            <md-card-title>Section</md-card-title>
            <md-divider></md-divider>
            <psn-message label="Hmm" sublabel="THere is a problem here" color="warn" icon="error"></psn-message>
            <md-card-content>
              lorem ipsum
            </md-card-content>
          </md-card>

          <md-card>
            <md-card-title>Badges</md-card-title>
            <md-divider></md-divider>
            <psn-badge color="primary" x="before" notifications="6+">
              <md-icon>person</md-icon>
            </psn-badge>

            <psn-badge color="success" x="before" notifications="9">

            </psn-badge>

            <button md-raised-button color="accent" >Inside Buttons  <psn-badge color="warn" notifications="3"></psn-badge></button>

            <psn-badge size="24" color="warn" x="before" notifications="9">
            </psn-badge>

             <psn-badge size="36" color="secondary" x="before" notifications="9">
            </psn-badge>

              <psn-badge size="48" color="primary" x="before" notifications="9">
            </psn-badge>

             <psn-badge size="36" color="lime" x="after" notifications="A">
            </psn-badge>

            <md-nav-list dense flex disableRipple="true">
              <a md-list-item>
                <md-icon md-list-avatar>person</md-icon>
                <h3 md-line> Jyn Erso stole the plans to the Death Star </h3>
                <p md-line> 10 mins ago </p>
                <span></span>
                <psn-badge color="accent" notifications="B+">
                </psn-badge>
              </a>
              <md-divider md-inset></md-divider>
              <a md-list-item>
                <md-icon md-list-avatar>person</md-icon>
                <h3 md-line> Something something something.. dark side. </h3>
                <p md-line> 9 hours ago </p>
                <span></span>
                <psn-badge color="warn" notifications="2">
                </psn-badge>
              </a>
              <md-divider md-inset></md-divider>
              <a md-list-item>
                <md-icon md-list-avatar>person</md-icon>
                <h3 md-line> Chirrut Îmwe beat down a bunch of storm troopers with a stick </h3>
                <p md-line> 2 days ago </p>
                <span></span>
                <psn-badge color="secondary" notifications="A+">
                </psn-badge>
              </a>
            </md-nav-list>

          </md-card>

          <md-card>
            <md-card-title>
              Badge in Toolbar
            </md-card-title>
            <md-card-content>
              <md-toolbar color="secondary">
                <button md-icon-button>
              <md-icon>menu</md-icon>
            </button>
                <span>Info</span>
                <span fxFlex></span>

                <psn-badge color="primary" x="before" notifications="Y+">
                  <md-icon>person</md-icon>
                </psn-badge>
                <psn-badge color="success" notifications="6">
                  <md-icon>messages</md-icon>
                </psn-badge>
                <button md-icon-button [mdMenuTriggerFor]="notificationsMenu1">
              <psn-badge notifications="66+">
                <md-icon>notifications</md-icon>
              </psn-badge>
            </button>
                <md-menu #notificationsMenu1="mdMenu" [overlapTrigger]="false">
                  <psn-menu>
                    <div psn-menu-header class="md-subhead">Notifications</div>
                    <md-nav-list dense psn-menu-content>
                      <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
                        <a md-list-item>
                          <md-icon md-list-avatar>today</md-icon>
                          <h4 md-line><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>
                          <p md-line>22 minutes ago</p>
                        </a>
                        <md-divider *ngIf="!last"></md-divider>
                      </ng-template>
                    </md-nav-list>

                    <button md-button color="success" psn-menu-footer>
                  Notifications footer
                </button>
                  </psn-menu>
                </md-menu>


              </md-toolbar>
            </md-card-content>
          </md-card>

          <md-card>
            <md-card-title>Badge in Tabs</md-card-title>
            <md-card-content>
              <md-tab-group md-stretch-tabs>
                <md-tab>
                  <ng-template md-tab-label>
                    <div layout="row" layout-align="center center">
                      Activities
                      <psn-badge color="primary" notifications="3">
                      </psn-badge>
                    </div>
                  </ng-template>
                </md-tab>
                <md-tab>
                  <ng-template md-tab-label>
                    <div layout="row" layout-align="center center">
                      Logs
                      <psn-badge color="warn" notifications="0">
                      </psn-badge>
                    </div>
                  </ng-template>
                </md-tab>
                <md-tab>
                  <ng-template md-tab-label>
                    <div layout="row" layout-align="center center">
                      Chats
                      <psn-badge color="success" notifications="12">
                      </psn-badge>
                    </div>
                  </ng-template>
                </md-tab>
              </md-tab-group>
            </md-card-content>
          </md-card>

        </md-card-content>
      </md-card>