<div fxLayout="row"  fxLayout.xs="column" fxFlexFill >


   <psn-login fxLayout="row" fxLayout.xs="column"  fxFlexFill fxLayoutAlign="center center"  fxLayoutAlign.xs="center stretch" >
 

      <md-card>
        <md-card-title>
          <md-icon class="md-icon-logo" svgIcon="assets:logo"></md-icon> Login</md-card-title>
        <md-card-subtitle>sign in via your current account</md-card-subtitle>
        <md-divider></md-divider>
        <md-card-content>
          <form #loginForm="ngForm">
            <div fxLayout="row">
              <md-input-container fxFlex>
                <input mdInput #userElement #userControl="ngModel" placeholder="Username" type="text" maxlength="30" name="username" [(ngModel)]="username"
                  required>
                <span md-prefix><md-icon>person</md-icon></span>
                <md-hint align="start">
                  <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Required</span>
                </md-hint>
                <md-hint align="end">{{userElement.value.length}} / 30</md-hint>
              </md-input-container>
            </div>
            <div fxLayout="row">
              <md-input-container fxFlex>
                <input mdInput #passElement #passControl="ngModel" placeholder="Password" type="password" name="password" [(ngModel)]="password"
                  required>
                <span md-prefix><md-icon>lock</md-icon></span>
                <md-hint align="start">
                  <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Required</span>
                </md-hint>
                <md-hint align="end">Something hard to guess</md-hint>
              </md-input-container>
            </div>
          </form>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions fxLayout="row">
          <button fxFlex md-raised-button color="primary" [disabled]="!loginForm.form.valid" (click)="login()">Sign In</button>
        </md-card-actions>
      </md-card>

       <md-card>
        <md-card-title>
          <md-icon class="md-icon-logo" svgIcon="assets:logo"></md-icon> New User Registration</md-card-title>
        <md-card-subtitle>sign in via your current account</md-card-subtitle>
        <md-divider></md-divider>
        <md-card-content>
          <form #loginForm="ngForm">
            <div fxLayout="row">
              <md-input-container fxFlex>
                <input mdInput #userElement #userControl="ngModel" placeholder="Username" type="text" maxlength="30" name="username" [(ngModel)]="username"
                  required>
                <span md-prefix><md-icon>person</md-icon></span>
                <md-hint align="start">
                  <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Required</span>
                </md-hint>
                <md-hint align="end">{{userElement.value.length}} / 30</md-hint>
              </md-input-container>
            </div>
            <div fxLayout="row">
              <md-input-container fxFlex>
                <input mdInput #passElement #passControl="ngModel" placeholder="Password" type="password" name="password" [(ngModel)]="password"
                  required>
                <span md-prefix><md-icon>lock</md-icon></span>
                <md-hint align="start">
                  <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Required</span>
                </md-hint>
                <md-hint align="end">Something hard to guess</md-hint>
              </md-input-container>
            </div>
          </form>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions fxLayout="row">
          <button fxFlex md-raised-button color="primary" [disabled]="!loginForm.form.valid" (click)="login()">Sign In</button>
        </md-card-actions>
      </md-card>
      
    

   </psn-login>
</div>