<div fxLayout="row"  fxLayout.xs="column" fxFlexFill >


   <psn-login fxLayout="row" fxLayout.xs="column"  fxFlexFill fxLayoutAlign="center center"  fxLayoutAlign.xs="center stretch" >
 

      <mat-card>
        <mat-card-title>
          <mat-icon class="mat-icon-logo" svgIcon="assets:logo"></mat-icon> Login</mat-card-title>
        <mat-card-subtitle>sign in via your current account</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
          <form #loginForm="ngForm">
            <div fxLayout="row">
              <mat-input-container fxFlex>
                <input matInput #userElement #userControl="ngModel" placeholder="Username" type="text" maxlength="30" name="username" [(ngModel)]="username"
                  required>
                <span mat-prefix><mat-icon>person</mat-icon></span>
                <mat-hint align="start">
                  <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Required</span>
                </mat-hint>
                <mat-hint align="end">{{userElement.value.length}} / 30</mat-hint>
              </mat-input-container>
            </div>
            <div fxLayout="row">
              <mat-input-container fxFlex>
                <input matInput #passElement #passControl="ngModel" placeholder="Password" type="password" name="password" [(ngModel)]="password"
                  required>
                <span mat-prefix><mat-icon>lock</mat-icon></span>
                <mat-hint align="start">
                  <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Required</span>
                </mat-hint>
                <mat-hint align="end">Something hard to guess</mat-hint>
              </mat-input-container>
            </div>
          </form>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions fxLayout="row">
          <button fxFlex mat-raised-button color="primary" [disabled]="!loginForm.form.valid" (click)="login()">Sign In</button>
        </mat-card-actions>
      </mat-card>

       <mat-card>
        <mat-card-title>
          <mat-icon class="mat-icon-logo" svgIcon="assets:logo"></mat-icon> New User Registration</mat-card-title>
        <mat-card-subtitle>sign in via your current account</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
          <form #loginForm="ngForm">
            <div fxLayout="row">
              <mat-input-container fxFlex>
                <input matInput #userElement #userControl="ngModel" placeholder="Username" type="text" maxlength="30" name="username" [(ngModel)]="username"
                  required>
                <span mat-prefix><mat-icon>person</mat-icon></span>
                <mat-hint align="start">
                  <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Required</span>
                </mat-hint>
                <mat-hint align="end">{{userElement.value.length}} / 30</mat-hint>
              </mat-input-container>
            </div>
            <div fxLayout="row">
              <mat-input-container fxFlex>
                <input matInput #passElement #passControl="ngModel" placeholder="Password" type="password" name="password" [(ngModel)]="password"
                  required>
                <span mat-prefix><mat-icon>lock</mat-icon></span>
                <mat-hint align="start">
                  <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Required</span>
                </mat-hint>
                <mat-hint align="end">Something hard to guess</mat-hint>
              </mat-input-container>
            </div>
          </form>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions fxLayout="row">
          <button fxFlex mat-raised-button color="primary" [disabled]="!loginForm.form.valid" (click)="login()">Sign In</button>
        </mat-card-actions>
      </mat-card>
      
    

   </psn-login>
</div>