<mat-card>
  <mat-card-title>Loading</mat-card-title>
  <mat-card-subtitle>Circular or linear progress loader</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <h3 class="mat-title">[spin] directive with (*) syntax</h3>
    <h4 class="mat-subhead">with indetederminate [spingMode], circular [spinType], overlay [spinStrategy], success [spinColor]</h4>
 <div *spin="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'success'">
          <div layout="column" flex>
            <mat-input-container flex>
              <input matInput [(ngModel)]="overlayDemo.name" placeholder="Name"/>
            </mat-input-container>
            <mat-input-container flex>
              <textarea matInput [(ngModel)]="overlayDemo.description" placeholder="Description" rows="4"></textarea>
            </mat-input-container>
          </div>
        </div>
        <div layout="row">
          <button mat-button color="primary" (click)="toggleOverlayStarSyntax()" class="text-upper">Toggle Loader</button>
        </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <h3 class="mat-title">[spin] directive with template syntax</h3>
 <ng-template spin="replaceTemplateSyntax" spinMode="determinate" spinType="linear" spinStrategy="replace" spinColor="warn">
          <div layout="column" flex>
            <mat-input-container flex>
              <input matInput [(ngModel)]="replaceDemo.name" placeholder="Name"/>
            </mat-input-container>
            <mat-select placeholder="Type" [(ngModel)]="replaceDemo.type">
              <mat-option [value]="1">Some type</mat-option>
              <mat-option [value]="2">Another type</mat-option>
            </mat-select>
            <mat-input-container flex>
              <textarea matInput [(ngModel)]="replaceDemo.description" placeholder="Description" rows="4"></textarea>
            </mat-input-container>
          </div>
        </ng-template>
        <div layout="row">
          <button mat-button color="primary" (click)="toggleReplaceTemplateSyntax()" class="text-upper">Toggle Loader</button>
        </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <h3 class="mat-title">Preloaded fullscreen mask</h3>
    <h4 class="mat-subhead">with indeterminate [mode], circular [type], primary [color] by default</h4>
  <div layout="row">
          <button mat-button color="primary" (click)="toggleDefaultFullscreenDemo()" class="text-upper">Toggle Loader</button>
        </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
   <h3 class="mat-title">Custom  fullscreen mask</h3>
    <h4 class="mat-subhead">with indeterminate [mode], linear [type], primary [color]</h4>
   <div layout="row">
          <button mat-button color="primary" (click)="toggleConfigFullscreenDemo()" class="text-upper">Toggle Loader</button>
        </div>
  </mat-card-content>
</mat-card>
