<mat-card>
  <mat-card-title>Data Grids with Fixed Headers and Height with IScroll</mat-card-title>  
  <mat-card-content>
  <div fxLayout="row" fxLayoutGap="20px">
      <button mat-raised-button color="primary" (click)="addRow()" >Add Row</button>
      <button mat-raised-button color="secondary" (click)="changeAllRows()" >Change All Rows</button>
  </div>    
  
   <psn-data-grid
          #dataTable
          [data]="data"
          [columns]="columns"
          [selectable]="true"
          [clickable]="true"
          gridHeight="20rem"
          [multiple]="true"   
          [(ngModel)]="selectedRows"          
          (sortChange)="sort($event)" 
          (rowClick)="handleRowClick($event)"  
          (cellClick)="handleCellClick($event)"  
          (dataAdded)="onDataAdded($event)"          
          >
        </psn-data-grid>
        
    <div class="mat-padding" *ngIf="!dataTable.hasData" fxLayout="row" fxLayoutAlign="center center">
        <h3>No results to display.</h3>
    </div>
     <psn-paginate
        #paginator  [showQuickPage]="true" [pageLinkCount]="3"
                        allOptionLabel="Alle" [arrows]="true" [prevLabel]="prev" [nextLabel]="next" [firstLast]="firstLast" [showAllOption]="true" [pageSizes]="[100,200,500,1000,2000]"
                       [initialPage]="1" [pageSize]="100" [total]="1345" (change)="paginate($event)">
                            <span paginate-label>Filter:</span> Showing {{paginator.range}}  <span >of {{paginator.total}} entries</span>
                  </psn-paginate>
  </mat-card-content>
  <mat-card-actions>
    Selections:
    <p>
    <span *ngIf="selectedRows.length" class="mat-body-1">{{selectedRows.length}} item(s) selected</span>
    </p>
    <p> Row Click Event: </p>
    <p>
     {{rowClickEvent}}
    </p>
    <p> Cell Click Event: </p>
    <p>
      {{cellClickEvent}}
    </p>
  </mat-card-actions>
  <mat-divider></mat-divider>
  <mat-card-content>
   
      <p>Sort Column: {{sortBy}}</p>
      <p>Sort Direction: {{sortOrder}}</p>
      <ul>
                  <li>
                      Page: {{paginateEvent?.page}}
                  </li>
                   <li>
                      Max Page: {{paginateEvent?.maxPage}}
                  </li>
                   <li>
                      PageSize: {{paginateEvent?.pageSize}}
                  </li>
                   <li>
                      Total: {{paginateEvent?.total}}
                  </li>
                   <li>
                      from: {{paginateEvent?.fromRow}}
                  </li>
                   <li>
                      to: {{paginateEvent?.toRow}}
                  </li>
                </ul>
  </mat-card-content>



</mat-card>



<mat-card>
  <mat-card-title>Data Grid with custom columns</mat-card-title>  
  <mat-card-content>
  
   <psn-data-grid
          #dataTable1
          [data]="data1"
          [columns]="columns1"
          [selectable]="true"
          [clickable]="true"
          >
            <ng-template psnGridColumnTemplate="actions" let-value="value" let-row="row" let-column="column" let-rowIndex="rowIndex">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                <psn-label color="accent"  text="SENT"></psn-label>
                <mat-icon color="success">star</mat-icon>
            </div>
        </ng-template>
        </psn-data-grid>
  
  </mat-card-content>


</mat-card>


<mat-card>
  <mat-card-title>Data Grid with Comps Inside</mat-card-title>  
  <mat-card-content>
  
   <psn-data-grid
          #dataTable2
          [data]="data2"
          [columns]="columns2"
          [selectable]="false"
           gridHeight="300px"
          [clickable]="false"
          >
            <ng-template psnGridColumnTemplate="createdDate" let-value="value" let-row="row" let-column="column" let-rowIndex="rowIndex">
          
                <mat-input-container>
                    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date {{rowIndex}}">
                    <mat-datepicker-toggle mdSuffix [for]="picker"></mat-datepicker-toggle>                    
                </mat-input-container>
                <mat-datepicker #picker></mat-datepicker>
            
        </ng-template>

        <ng-template psnGridColumnTemplate="actions" let-value="value" let-row="row" let-column="column" let-rowIndex="rowIndex">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                 <button (click)="alert(row, rowIndex)" mat-raised-button color="accent" >Save</button>
                 <button mat-raised-button color="warn" [mdMenuTriggerFor]="menu">Delete</button>
                    <button mat-icon-button [mdMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="mdMenu">
                        <button mat-menu-item> Refresh </button>
                        <button mat-menu-item> Settings </button>
                        <button mat-menu-item> Help </button>
                        <button mat-menu-item disabled> Sign Out </button>
                    </mat-menu>
            </div>
        </ng-template>


         <ng-template psnGridColumnTemplate="guid" let-value="value" let-row="row" let-column="column" let-rowIndex="rowIndex">
            <div fxLayout="row" fxLayoutAlign="start center" >
                <mat-input-container fxFlex>
                    <input mdInput placeholder="Guid" value="{{row[column]}}">
                </mat-input-container>
            </div>
        </ng-template>
        </psn-data-grid>
  
  </mat-card-content>


</mat-card>
