<div  flex="100" fxLayout="column" fxFill  class="side-nav-vert-span">

<md-toolbar color="primary" show-sm show-xs hide-lg hide-xl>
  <span></span>
  <div td-toolbar-content fxLayout="row" fxLayoutAlign="start center" fxFlex>
    <button (click)="logsSideNav.toggle()" md-icon-button><md-icon class="md-24">menu</md-icon></button>    
  </div>
</md-toolbar>

<md-sidenav-container fxFlex="100" fxLayout="column"> 

  <md-sidenav 
    #logsSideNav
    [mode]="(media.query('gt-sm')   ) ? 'side' : 'push'" 
    [opened]="(media.query('gt-sm') ) ? true: false">
    <md-nav-list >
      <ng-template let-item let-last="last" ngFor [ngForOf]="products">
        <a md-list-item  (click)="selectProduct(item)" [ngClass]="{'active': item === selectedProduct}">
          <md-icon md-list-avatar>{{item.icon}}</md-icon>
          <h3 md-line> {{item.name}} </h3>
          <p md-line> product logs </p>
        </a>
        <md-divider *ngIf="!last" md-inset></md-divider>
      </ng-template>
    </md-nav-list>
  </md-sidenav> 

  <logs-details *ngIf="selectedProduct" [product]="selectedProduct"></logs-details>

</md-sidenav-container>
</div>