<div  fxFlex fxLayout="column" fxFill >

<mat-toolbar color="primary" show-sm show-xs hide-lg hide-xl>
  <span></span>
  <div td-toolbar-content fxLayout="row" fxLayoutAlign="start center" fxFlex>
    <button (click)="logsSideNav.toggle()" mat-icon-button><mat-icon class="mat-24">menu</mat-icon></button>    
  </div>
</mat-toolbar>

<mat-sidenav-container fxFlex="100" fxLayout="column"> 

  <mat-sidenav 
    #logsSideNav
    [mode]="(media.query('gt-sm')   ) ? 'side' : 'push'" 
    [opened]="(media.query('gt-sm') ) ? true: false">
    <mat-nav-list >
      <ng-template let-item let-last="last" ngFor [ngForOf]="products">
        <a mat-list-item  (click)="selectProduct(item)" [ngClass]="{'active': item === selectedProduct}">
          <mat-icon mat-list-avatar>{{item.icon}}</mat-icon>
          <h3 mat-line> {{item.name}} </h3>
          <p mat-line> product logs </p>
        </a>
        <mat-divider *ngIf="!last" mat-inset></mat-divider>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav> 

  <logs-details *ngIf="selectedProduct" [product]="selectedProduct"></logs-details>

</mat-sidenav-container>
</div>