
     <mat-card >
      <mat-card-title>{{product.name}} Logs</mat-card-title>
      <!-- mat-divider></mat-divider -->
      <ng-template spin="items.load">
        <mat-list class="will-load" >
          <div class="mat-padding" *ngIf="!items || items.length === 0" layout="row" layout-align="center center">
            <h3>No logs to display.</h3>
          </div>
          <ng-template let-item let-last="last" ngFor [ngForOf]="items">
            <mat-list-item [title]="item.description">
              <mat-icon mat-list-icon> {{item.icon}} </mat-icon>
              <h3 mat-line> {{item.description}} <span class="mat-caption tc-grey-600">({{item.created}})</span> </h3>
              <p mat-line > {{item.name}} </p>
            </mat-list-item>
            <!-- mat-divider *ngIf="!last"></mat-divider -->
          </ng-template>
        </mat-list>
      </ng-template>
    </mat-card>
