<mat-card>
  <mat-card-title>Kitchensink Overview</mat-card-title>
  <mat-card-subtitle>All components for our pattern library</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <ng-template spin="kitchen.overview.load">
     <div layout-gt-xs="row" layout-wrap>
       <ng-template let-item let-last="last" ngFor [ngForOf]="items">
          <div flex-sm="100" flex-md="50" flex-gt-md="30" layout="column">
            <mat-card href [routerLink]="[item.route]" class="mat-card-colored" flex>
              <mat-toolbar class="bgc-{{item.color}} " layout="column" layout-align="center center" layout-padding>
                <mat-icon class="mat-icon-font-xl tc-white">{{item.icon}}</mat-icon>
              </mat-toolbar>
              <mat-card-content>
                <div layout="column" layout-padding>
                  <div class="mat-subhead">{{item.title}}</div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-template>
     </div>
    </ng-template>
  </mat-card-content>
</mat-card>
