<mat-card>
  <mat-card-title>Expanding Panels</mat-card-title>
  <mat-card-subtitle>Expand & collapse containers</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Expand/Collapse Event for Expansion 1: {{expandCollapseExpansion1Msg}}</p>
    <div layout-gt-xs="row" layout-align-gt-xs="center start">
      <div flex-gt-xs="90">
        <psn-expanding-panel [keepSummary]="true" color="bgc-grey-100" #firstExpander [expand]="expansion1" [disabled]="disabled" (expanded)="expandExpansion1Event()" (collapsed)="collapseExpansion1Event()">

          <mat-checkbox>Rbans </mat-checkbox>
          <span fxFlex></span>
          <psn-label color="accent"  text="WAITING"></psn-label>
          <button (click)="openSuccessToast($event)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>

          <expanding-panel-summary>
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-avatar>pin_drop</mat-icon>
                <h3 mat-line>Pearson</h3>
                <h4 mat-line>19500 Bulverde Rd</h4>
                <p mat-line>
                 San Antonio TX 78259
                </p>
              </mat-list-item>
            </mat-list>
          </expanding-panel-summary>

          <expanding-panel-content>
            <form class="mat-padding" fxLayout="column">
              <mat-input-container fxFlex>
                <input matInput placeholder="Company " value="Pearson" />
              </mat-input-container>
              <mat-input-container fxFlex>
                <textarea matInput placeholder="Description" rows="4"></textarea>
              </mat-input-container>
            </form>
            <mat-divider></mat-divider>
            <div fxLayout="row" fxLayoutGap="10px" layout-padding fxLayoutAlign="end center">
              <button mat-button class="text-upper">Cancel</button>
              <button mat-raised-button color="primary" class="text-upper">Save</button>
            </div>
          </expanding-panel-content>

        </psn-expanding-panel>



        <psn-expanding-panel [closeable]="false" #firstExpander1>

          <mat-checkbox>WIAT-III - cannot close me </mat-checkbox>
          <span fxFlex></span>
          <button (click)="openSuccessToast()" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>

          <expanding-panel-content>
            <div class="mat-padding">
              <h3 class="mat-subhead">mat-padding class</h3>
              <div>Phase 1</div>
              <div>Phase 2</div>
              <div>Phase 3</div>
            </div>
          </expanding-panel-content>
          </psn-expanding-panel>

          <psn-expanding-panel #firstExpander2 color="primary" (expanded)="expanded()" (collapsed)="collapsed()" (closed)="closed()">
            <mat-checkbox>KTEA-III </mat-checkbox>
            <span fxFlex></span>
            <button (click)="openSuccessToast($event)" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>

            <expanding-panel-content>
              <mat-card>
                <mat-card-title>
                  Inner Head
                </mat-card-title>
                <mat-card-content>
                  Content
                </mat-card-content>
              </mat-card>
            </expanding-panel-content>
          </psn-expanding-panel>

          <psn-expanding-panel #firstExpander3 color="warn" (expanded)="expanded()" (collapsed)="collapsed()" (closed)="closed()">
            <mat-checkbox>KTEA-III Form B </mat-checkbox>
            <span fxFlex></span>
            <button (click)="openSuccessToast($event)" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>

            <expanding-panel-content>
              <mat-card>
                <mat-card-title>
                  Inner Head
                </mat-card-title>
                <mat-card-content>
                  Content
                </mat-card-content>
              </mat-card>
            </expanding-panel-content>
          </psn-expanding-panel>

          <psn-expanding-panel #firstExpander444 color="accent" (expanded)="expanded()" (collapsed)="collapsed()" (closed)="closed()">
            <mat-checkbox>PPVT-4 </mat-checkbox>
            <span fxFlex></span>
            <button (click)="openSuccessToast($event)" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>

            <expanding-panel-content>
              <mat-card>
                <mat-card-title>
                  Inner Head
                </mat-card-title>
                <mat-card-content>
                  Content
                </mat-card-content>
              </mat-card>
            </expanding-panel-content>
          </psn-expanding-panel>

          <psn-expanding-panel #firstExpander55 color="success" (expanded)="expanded()" (collapsed)="collapsed()" (closed)="closed()">
            <mat-checkbox>WISC-V </mat-checkbox>
            <span fxFlex></span>
            <psn-label color="success"  text="READY"></psn-label>
            <button (click)="openSuccessToast($event)" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>

            <expanding-panel-content>
              <mat-card>
                <mat-card-title>
                  Inner Head
                </mat-card-title>
                <mat-card-content>
                  Content
                </mat-card-content>
              </mat-card>
            </expanding-panel-content>
          </psn-expanding-panel>

      </div>
    </div>

  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button color="primary" (click)="firstExpander.toggle()" class="text-upper">Toggle first</button>
  </mat-card-actions>
</mat-card>