<md-card>
  <md-card-title>Expanding Panels</md-card-title>
  <md-card-subtitle>Expand & collapse containers</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    <p>Expand/Collapse Event for Expansion 1: {{expandCollapseExpansion1Msg}}</p>
    <div layout-gt-xs="row" layout-align-gt-xs="center start">
      <div flex-gt-xs="90">
        <psn-expanding-panel [keepSummary]="true" color="bgc-grey-100" #firstExpander [expand]="expansion1" [disabled]="disabled" (expanded)="expandExpansion1Event()" (collapsed)="collapseExpansion1Event()">

          <md-checkbox>Rbans </md-checkbox>
          <span fxFlex></span>
          <psn-label color="accent"  text="WAITING"></psn-label>
          <button (click)="openSuccessToast($event)" md-icon-button>
          <md-icon>edit</md-icon>
        </button>

          <expanding-panel-summary>
            <md-list>
              <md-list-item>
                <md-icon md-list-avatar>pin_drop</md-icon>
                <h3 md-line>Pearson</h3>
                <h4 md-line>19500 Bulverde Rd</h4>
                <p md-line>
                 San Antonio TX 78259
                </p>
              </md-list-item>
            </md-list>
          </expanding-panel-summary>

          <expanding-panel-content>
            <form class="md-padding" fxLayout="column">
              <md-input-container fxFlex>
                <input mdInput placeholder="Company " value="Pearson" />
              </md-input-container>
              <md-input-container fxFlex>
                <textarea mdInput placeholder="Description" rows="4"></textarea>
              </md-input-container>
            </form>
            <md-divider></md-divider>
            <div fxLayout="row" fxLayoutGap="10px" layout-padding fxLayoutAlign="end center">
              <button md-button class="text-upper">Cancel</button>
              <button md-raised-button color="primary" class="text-upper">Save</button>
            </div>
          </expanding-panel-content>

        </psn-expanding-panel>



        <psn-expanding-panel [closeable]="false" #firstExpander1>

          <md-checkbox>WIAT-III - cannot close me </md-checkbox>
          <span fxFlex></span>
          <button (click)="openSuccessToast()" md-icon-button>
            <md-icon>edit</md-icon>
          </button>

          <expanding-panel-content>
            <div class="md-padding">
              <h3 class="md-subhead">md-padding class</h3>
              <div>Phase 1</div>
              <div>Phase 2</div>
              <div>Phase 3</div>
            </div>
          </expanding-panel-content>
          </psn-expanding-panel>

          <psn-expanding-panel #firstExpander2 color="primary" (expanded)="expanded()" (collapsed)="collapsed()" (closed)="closed()">
            <md-checkbox>KTEA-III </md-checkbox>
            <span fxFlex></span>
            <button (click)="openSuccessToast($event)" md-icon-button>
                <md-icon>edit</md-icon>
              </button>

            <expanding-panel-content>
              <md-card>
                <md-card-title>
                  Inner Head
                </md-card-title>
                <md-card-content>
                  Content
                </md-card-content>
              </md-card>
            </expanding-panel-content>
          </psn-expanding-panel>

          <psn-expanding-panel #firstExpander3 color="warn" (expanded)="expanded()" (collapsed)="collapsed()" (closed)="closed()">
            <md-checkbox>KTEA-III Form B </md-checkbox>
            <span fxFlex></span>
            <button (click)="openSuccessToast($event)" md-icon-button>
                <md-icon>edit</md-icon>
              </button>

            <expanding-panel-content>
              <md-card>
                <md-card-title>
                  Inner Head
                </md-card-title>
                <md-card-content>
                  Content
                </md-card-content>
              </md-card>
            </expanding-panel-content>
          </psn-expanding-panel>

          <psn-expanding-panel #firstExpander444 color="accent" (expanded)="expanded()" (collapsed)="collapsed()" (closed)="closed()">
            <md-checkbox>PPVT-4 </md-checkbox>
            <span fxFlex></span>
            <button (click)="openSuccessToast($event)" md-icon-button>
                <md-icon>edit</md-icon>
              </button>

            <expanding-panel-content>
              <md-card>
                <md-card-title>
                  Inner Head
                </md-card-title>
                <md-card-content>
                  Content
                </md-card-content>
              </md-card>
            </expanding-panel-content>
          </psn-expanding-panel>

          <psn-expanding-panel #firstExpander55 color="success" (expanded)="expanded()" (collapsed)="collapsed()" (closed)="closed()">
            <md-checkbox>WISC-V </md-checkbox>
            <span fxFlex></span>
            <psn-label color="success"  text="READY"></psn-label>
            <button (click)="openSuccessToast($event)" md-icon-button>
                <md-icon>edit</md-icon>
              </button>

            <expanding-panel-content>
              <md-card>
                <md-card-title>
                  Inner Head
                </md-card-title>
                <md-card-content>
                  Content
                </md-card-content>
              </md-card>
            </expanding-panel-content>
          </psn-expanding-panel>

      </div>
    </div>

  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="primary" (click)="firstExpander.toggle()" class="text-upper">Toggle first</button>
  </md-card-actions>
</md-card>