
      <mat-card>
        <mat-card-title>Paginators</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-card>
            <mat-card-title>
              Right Side
            </mat-card-title>
            <mat-card-content>
              <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign.xs="start" fxLayoutAlign="start center" fxLayoutGap="20px" style="min-height: 100px">
                  <span> test </span>
                  <span fxFlex>
                      <psn-paginate   #paginator  [showQuickPage]="true" [pageLinkCount]="media.query('xs') ? 2: 3"
                        allOptionLabel="Alle" [arrows]="true" [prevLabel]="prev" [nextLabel]="next" [firstLast]="firstLast" [showAllOption]="true" [pageSizes]="[100,200,500,1000,2000]"
                       [initialPage]="1" [pageSize]="100" [total]="1345" (change)="paginate($event)">
                            <span paginate-label>Filter:</span> Showing {{paginator.range}} <span>of {{paginator.total}} entries</span>
                  </psn-paginate>
                  </span>
              </div>  
              <div>
                <p>
                  Events
                </p>

                <ul>
                  <li>
                      Page: {{paginateEvent?.page}}
                  </li>
                   <li>
                      Max Page: {{paginateEvent?.maxPage}}
                  </li>
                   <li>
                      PageSize: {{paginateEvent?.pageSize}}
                  </li>
                   <li>
                      Total: {{paginateEvent?.total}}
                  </li>
                   <li>
                      from: {{paginateEvent?.fromRow}}
                  </li>
                   <li>
                      to: {{paginateEvent?.toRow}}
                  </li>
                </ul>
              </div>  
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="accent" (click)="togglePaginateFirstLast()" class="text-upper">Toggle First last</button>
              <!-- 
              <button mat-icon-button type="button" >
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </button>
               <button disabled="true" mat-icon-button type="button" >
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
              </button>
              -->
            </mat-card-actions>
          </mat-card>
          

           <mat-card>
            <mat-card-title>
              Left Side
            </mat-card-title>
            <mat-card-content>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" style="min-height: 100px">                  
                  
                      <psn-paginate color="success"  #paginator1  [showQuickPage]="true" pageLinkCount="3"
                        allOptionLabel="Alle" [arrows]="true"  nextLabel="next" [firstLast]="firstLast" [showAllOption]="true" [pageSizes]="[100,200,500,1000,2000]"
                       [initialPage]="1" [pageSize]="100" [total]="1345" (change)="paginate($event)">
                            <span paginate-label>Filter:</span> Showing {{paginator1.range}} <span>of {{paginator1.total}} entries</span>
                  </psn-paginate>
                 
              </div>              
            </mat-card-content>
          
          </mat-card>
        </mat-card-content>
      </mat-card>